WA_AUTH_FOLDER=auth_info_baileys
NOTIFICATION_PORT=3000
NOTIFICATION_DB_NAME=sophia_db
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=your-db-password
DB_HOST=sophia-postgres
DB_PORT=5432
NOTIFICATION_DATABASE_URL=postgres://postgres:your-db-password@sophia-postgres:5432/sophia_db

AI_SERVICE_URL=http://localhost:5000
AI_SERVICE_TIMEOUT_MS=30000

MESSAGE_SERVICE_URL=amqp://admin:admin@rabbitmq:5672

MESSAGE_EXCHANGES_NOTIFICATION=internal.exchange
MESSAGE_EXCHANGES_PHARMACY=pharmacy.exchange
MESSAGE_EXCHANGES_AUDIT=pharmacy.exchange

MESSAGE_NOTIFICATION_QUEUE=internal.processing.queue
MESSAGE_PHARMACY_INCOMING_QUEUE=pharmacy.incoming.queue
MESSAGE_PHARMACY_OUTGOING_QUEUE=pharmacy.outgoing.queue
MESSAGE_AUDIT_QUEUE=audit.queue

MESSAGE_NOTIFICATION_ROUTING_KEY=internal.event
MESSAGE_PHARMACY_INCOMING_ROUTING_KEY=pharmacy.incoming
MESSAGE_PHARMACY_OUTGOING_ROUTING_KEY=pharmacy.outgoing
MESSAGE_AUDIT_ROUTING_KEY=audit
